body{
    
    text-align: center;
    color: black;
}
header{
    text-align: center;
    color: white;
}
h1#titulo{
    text-align: center;
}

section#block{
    text-align: center;
    /*width: 500px;
    height: 500px;*/
    background-color: white;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow:3px 3px 3px 3px rgb(53, 51, 51);
    border-radius: 10%;
    
}
/*img#img{
    position: relative;
    top: 10%;
    left: 0.3%;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    box-shadow:3px 3px 3px 3px rgb(53, 51, 51)
}*/
footer#fot{
    margin-top: 18px;

}        
